// SECTION flexible :: START

section#flexible.flexible
  .c-grid
    .flexible__wrapper
      .flexible__wrapper-left

        h2.flexible__title!= "<span>HYPER-FLEXIBLE</span> <br>VIRTUAL WORKING"
        p.flexible__desc!= "You’re in control. In this digital age of virtual work, our platform is designed with you in mind - to make it as easy as possible to fit paid, online consulting work around life’s other commitments."

      .flexible__wrapper-right
        div
          img(src="./img/info-main.png" srcset="./img/info-main@2x.png 2x" alt="" title="")

        div
          img(src="./img/mockuptwo.png" srcset="./img/mockuptwo@2x.png 2x" alt="" title="")
          img(src="./img/mockupone.png" srcset="./img/mockupone@2x.png 2x" alt="" title="")

// SECTION flexible :: END