// SECTION pre :: START

section#pre.pre
  .c-grid
    .pre__wrapper

      h2.pre__title.c-title!= "PRE-REGISTER NOW"
      p.pre__desc!= "Join a community of the brightest young minds from world-leading Universities"

      a.pre__btn.c-btn.c-btn--bg(href="#" class="" title="")!= "PRE-REGISTER"

      p.pre__info!= "Applications open <span>12/02/2019</span>"

// SECTION pre :: END