.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;

  &-expertise {
    max-width: 100%;
    height: 460px;
    padding: 0 15px 15px;
    @include adaptive(991) {
      height: 920px;
    }
    @include adaptive(767) {
      padding-left: 0;
      padding-right: 0;
    }

    .swiper {
      &-slide {
        &-block {
          width: 100%;
          max-width: calc((100% - 60px) / 4);
          height: 195px;
          margin-top: 25px;
          box-shadow: 0 11px 11px 0 #00000021;
          background-color: #ffffff;
          @include adaptive(991) {
            max-width: calc((100% - 30px) / 2);
          }
          @include adaptive(575) {
            max-width: calc((100% - 15px) / 2);
          }

          &-top {
            position: relative;
            height: 150px;

            img {
              z-index: -1;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            &:after {
              opacity: 0.8;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-image: linear-gradient(to bottom, #00000000, #00000023 30%, #00000042 50%, #00000085 70%, #000000cc 90%, #000000e1 96%, #000);
            }
          }

          &-bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            height: calc(195px - 150px);
            padding: 5px 10px;
            text-align: center;

            span {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: -0.4px;
              text-align: center;
              color: #000;
              @include adaptive(767) {
                font-size: 14px;
                text-align: left;
              }
            }
          }

          &-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
        }
      }

      &-pagination {
        top: 0;
        bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
          opacity: 1;
          width: 8px;
          height: 8px;
          margin-left: 10px;
          margin-top: 10px;
          background-color: #989898;

          &-active {
            background-color: #44a399;
          }
        }
      }
    }
  }

  &-apply,
  &-think {
    max-width: 100%;
    height: 355px;
    @include adaptive(767) {
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 50px;
    }

    .swiper {
      &-slide {
        position: relative;
        width: 600px;
        height: 272px;
        padding: 32px 36px 37px 39px;
        border: solid 1px rgba(#44a399, 0.7);
        @include transition(box-shadow, border-color, background-color);
        @include adaptive(767) {
          width: 100%;
          height: auto;
        }
        @include adaptive(575) {
          padding: 30px 15px;
        }

        &-content {
          opacity: 1;
          position: absolute;
          display: flex;
          flex-direction: column;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 50px 51px;
          background-color: #45b8ac;
          @include transition(opacity);

          span {
            width: 100%;
            height: 12px;
            margin-bottom: 15px;
            background-color: rgba(#434343, 0.17);

            &:nth-of-type(1) {
              max-width: 185px;
            }
            &:nth-of-type(2) {
              max-width: 154px;
              margin-bottom: 28px;
            }
            &:nth-of-type(3) {
              max-width: 95%;
            }
            &:nth-of-type(4) {
              max-width: 90%;
            }
            &:nth-of-type(5) {
              max-width: 99px;
            }
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }

        &-active {
          width: 600px !important;
          box-shadow: 4px 9px 13px 0 #00000028;
          border-color: #ffffff;
          background-color: #45b8ac;
          @include transition(box-shadow 0.4s, border-color 0.4s, background-color 0.4s);
          @include adaptive(767) {
            width: 100% !important;
          }

          .swiper-slide-content {
            opacity: 0;
            @include transition(opacity);
            transition-delay: 0.35s;
          }
        }

        &-title {
          padding-bottom: 16px;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.67;
          letter-spacing: -0.7px;
          color: #ffffff;
          @include adaptive(575) {
            font-size: 22px;
            line-height: 1.4;
          }
        }

        &-desc {
          padding-bottom: 16px;
          font-size: 16px;
          line-height: 1.56;
          color: #ffffff;
        }

        &-circle {
          overflow: hidden;
          position: relative;
          width: 56px;
          height: 56px;
          border-radius: 100%;
          border: solid 2px #ffffff;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        &-user {
          display: flex;
          align-items: center;

          > div {
            &:nth-of-type(1) {
              width: 72px;
            }
            &:nth-of-type(2) {
              width: 100%;
              max-width: calc(100% - 72px);

              p {
                font-size: 18px;
                font-weight: 500;
                line-height: 1.39;
                color: #ffffff;
              }

              span {
                font-size: 16px;
                line-height: 1.56;
                color: #ffffff;
              }
            }
          }
        }
      }

      &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
          opacity: 1;
          width: 16px;
          height: 16px;
          margin-left: 6px;
          margin-top: 6px;
          background-color: #44a399;

          &-active {
            background-color: #ffffff;
          }
        }
      }
    }
  }

  &-apply {
    height: 100%;
    padding-right: 30px;
    @include adaptive(1365) {
      padding-right: 40px;
    }
    @include adaptive(1199) {
      padding-right: 30px;
    }
    @include adaptive(767) {
      padding-right: 0;
      padding-bottom: 50px;
    }

    .swiper {
      &-slide {
        position: relative;
        width: 100%;
        max-width: 600px;
        @include adaptive(1365) {
          height: auto;
        }
        @include adaptive(575) {
          padding: 30px 20px;
        }

        &-active {
          width: 100% !important;
          max-width: 600px !important;
        }
      }

      &-pagination {
        flex-direction: column;
        right: 0;
        @include adaptive(767) {
          flex-direction: row;
          right: auto;
          bottom: 0;
        }
      }
    }
  }

  &-stand {
    max-width: 100%;
    height: 273px;

    .swiper {
      &-slide {
        position: relative;
        width: 280px;
        height: 238px;
        border: solid 1px #979797;
        background-color: #d8d8d8;
        @include adaptive(575) {
          width: 237px;
          height: 237px;
        }
      }

      &-pagination {
        display: flex;
        align-items: center;
        justify-content: center;

        &-bullet {
          opacity: 1;
          width: 8px;
          height: 8px;
          margin-left: 10px;
          margin-top: 10px;
          background-color: #989898;

          &-active {
            background-color: #44a399;
          }
        }
      }
    }
  }
}

.swiper {
  &-slide {
    &-circle {
      overflow: hidden;
      position: relative;
      width: 56px;
      height: 56px;
      border-radius: 100%;
      border: solid 2px #ffffff;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    &-user {
      display: flex;
      align-items: center;

      &.swiper-slide-user--dark {
        > div {
          &:nth-of-type(2) {
            p,
            span {
              color: #4a4a4a;
            }
          }
        }
      }

      > div {
        &:nth-of-type(1) {
          width: 72px;
        }
        &:nth-of-type(2) {
          width: 100%;
          max-width: calc(100% - 72px);

          p {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.39;
            color: #ffffff;
          }

          span {
            font-size: 16px;
            line-height: 1.56;
            color: #ffffff;
          }
        }
      }
    }
  }
}