# FOLDER
# ==========
.idea/*
.gulp/*
.cache/*
.sass-cache/*
.tmp/*
_tmp/*
node_modules/*
vendor/*

# FILES
# ==========
package-lock.json

# DIST
# ==========
dest/
!dest/icon
!dest/img

# EXTENSIONS
# ==========
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
