// SECTION main points :: START

section#p-main.p-main

  .p-main__bg
    .p-main__bg-left
    .p-main__bg-right
      img(src="/img/img-points-main-bg.png" srcset="/img/img-points-main-bg@2x.png 2x, /img/img-points-main-bg@3x.png 3x" alt="" title="")

  .c-grid
    .p-main__wrapper

      p.p-main__badge!= "BETA"
      h1.p-main__title!= "AN INTRODUCTION TO POINTS AND RANKINGS"
      p.p-main__text!= "Associates earn points for engagement and for participating in paid client work. Points are intended to reward and showcase your efforts and engagement on the platform. If you participate in projects or improve the community experience, you’ll earn points."

// SECTION main points :: END