// SECTION sign :: START

.sign {
  overflow: hidden;
  position: relative;

  &--apply,
  &--plain {
    .sign {
      &__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;

        &-left {
          display: flex;
          align-items: center;

          > div {
            width: 100%;
            max-width: 475px;
          }

          .sign__title {
            padding-bottom: 43px;
            color: #4a4a4a;
            line-height: 1.2;
          }
        }
      }

      &__heading {
        padding-bottom: 9px;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.7px;
        color: #4a4a4a;
        text-align: center;
      }

      &__subtitle {
        padding-bottom: 30px;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.45;
        color: #ffffff;
      }

      &__desc {
        padding-bottom: 27px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        color: #ffffff;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      &__btn {
        margin-bottom: 17px;
      }
    }
  }

  &--apply {
    .sign {
      &__wrapper {
        min-height: 650px;

        &-left {
          .sign__title {
            padding-bottom: 12px;
            text-transform: none;
            text-align: left;
          }
        }

        &-right {
          padding-left: 55px;

          .think__slider {
            width: calc(100% + 30px);
            height: calc(100% + 60px);
            margin-top: -30px;
          }
        }
      }

      &__subtitle {
        padding-bottom: 44px;
        color: #000000;
      }
    }
  }

  &--plain {
    .sign {
      &__wrapper {
        padding-top: 30px;
        padding-bottom: 30px;

        &-right {
          display: flex;
          align-items: center;
          padding-left: 59px;

          > div {
            padding-top: 15px;
          }

          .sign__title {
            padding-bottom: 8px;
            text-align: left;
            color: #fff;
            line-height: 1.2;
          }
        }
      }

      &__heading {
        padding-bottom: 9px;
        font-size: 25px;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: -0.7px;
        color: #4a4a4a;
        text-align: center;
      }

      &__subtitle {
        padding-bottom: 30px;
        font-size: 22px;
        font-weight: 300;
        line-height: 1.45;
        color: #ffffff;
      }

      &__desc {
        padding-bottom: 27px;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        color: #ffffff;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      &__btn {
        margin-bottom: 17px;
      }
    }
  }

  &__bg {
    z-index: -1;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-left,
    &-right {
      width: 50%;
    }

    &-left {
      background-color: #ffffff;
    }

    &-right {
      background-color: #44b4a8;
    }
  }

  &__wrapper {
    display: flex;
    height: calc(100vh - (172px + 51px));

    &-left,
    &-right {
      width: 50%;
    }
  }

  &__btn {
    width: 100%;
    max-width: 461px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  &__box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 50%;

    &-0 {
      border-right: 1px solid #f2f2f2;
    }

    > div {
      &:nth-of-type(1) {
        width: 64px;
        padding-left: 16px;
      }
      &:nth-of-type(2) {
        width: 100%;
        max-width: calc(100% - 64px);
        padding-right: 10px;
      }
    }

    &-wrapper {
      display: flex;
      align-items: center;
      padding-bottom: 35px;
    }

    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 36px;
      height: 36px;
      border-radius: 100%;
      background-color: #f2f2f2;

      span {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: -0.2px;
        text-align: center;
        color: #4a4a4a;
      }
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      color: #000000;
    }
  }

  &__info {
    text-align: center;

    i {
      z-index: -1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      left: -15px;
      width: 12px;
      height: 12px;
      padding-top: 1px;
      padding-left: 1px;
      background-color: #020202;
      border-radius: 100%;
      color: #ffffff;
      font-size: 9px;
      font-weight: 900;
      font-style: normal;
    }

    span,
    a {
      font-size: 12px;
      font-weight: 300;
      line-height: 1.33;
    }

    span {
      position: relative;
      color: #000000;
    }

    a {
      color: #44b4a8;
      text-decoration: underline;
    }
  }
}

// SECTION sign :: END