@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-subscribe:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 38, src/scss/_generated/_spriteFont.scss */
.icon-subscribe:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  position: fixed;
  width: 100%;
  overflow: hidden !important;
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 20, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 34, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1230px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1230px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1230px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1230px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1230px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1230px;
  }
}

/* line 5, src/scss/_shared/_common.scss */
.nav--footer {
  padding-left: 107px;
}

/* line 8, src/scss/_shared/_common.scss */
.nav--footer .nav__list-btn {
  color: #ffffff;
}

/* line 13, src/scss/_shared/_common.scss */
.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 17, src/scss/_shared/_common.scss */
.nav__list-item {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 22, src/scss/_shared/_common.scss */
.nav__list-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.43;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 34, src/scss/_shared/_common.scss */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 39, src/scss/_shared/_common.scss */
.logo--footer svg {
  width: 171px;
  fill: #fff;
}

/* line 48, src/scss/_shared/_common.scss */
.copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 52, src/scss/_shared/_common.scss */
.copyright p {
  line-height: 1.43;
  letter-spacing: 1px;
  color: #ffffff;
}

/* line 57, src/scss/_shared/_common.scss */
.copyright p a {
  text-decoration: underline;
  color: #ffffff;
}

/* line 67, src/scss/_shared/_common.scss */
.subscribe__form {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 362px;
  height: 42px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #ffffff;
}

/* line 77, src/scss/_shared/_common.scss */
.subscribe__form-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 39px;
  height: 100%;
}

/* line 87, src/scss/_shared/_common.scss */
.subscribe__form-icon .icon-subscribe {
  font-size: 13px;
  color: rgba(74, 74, 74, 0.23);
}

/* line 93, src/scss/_shared/_common.scss */
.subscribe__form input,
.subscribe__form button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  min-height: 100%;
}

/* line 102, src/scss/_shared/_common.scss */
.subscribe__form input {
  width: 100%;
  max-width: -webkit-calc(100% - 110px);
  max-width: calc(100% - 110px);
  padding: 5px 15px 5px 39px;
  font-size: 16px;
  line-height: 1;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.subscribe__form input.placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-size: 16px;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.subscribe__form input:-moz-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-size: 16px;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.subscribe__form input::-moz-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-size: 16px;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.subscribe__form input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-size: 16px;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.subscribe__form input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.7);
  font-size: 16px;
}

/* line 115, src/scss/_shared/_common.scss */
.subscribe__form button {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  background-color: #45b8ac;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

/* line 1, src/scss/_shared/_swiper.scss */
.swiper-container {
  width: 100%;
  max-width: 500px;
  height: 300px;
}

/* line 6, src/scss/_shared/_swiper.scss */
.swiper-container-think {
  max-width: 100%;
  height: 346px;
}

/* line 11, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide {
  position: relative;
  width: 600px;
  height: 272px;
  padding: 32px 36px 37px 39px;
  border: solid 1px rgba(68, 163, 153, 0.7);
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 19, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content {
  opacity: 1;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 51px;
  background-color: #45b8ac;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

/* line 32, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span {
  width: 100%;
  height: 12px;
  margin-bottom: 15px;
  background-color: rgba(67, 67, 67, 0.17);
}

/* line 38, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:nth-of-type(1) {
  max-width: 185px;
}

/* line 41, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:nth-of-type(2) {
  max-width: 154px;
  margin-bottom: 28px;
}

/* line 45, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:nth-of-type(3) {
  max-width: 95%;
}

/* line 48, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:nth-of-type(4) {
  max-width: 90%;
}

/* line 51, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:nth-of-type(5) {
  max-width: 99px;
}

/* line 54, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-content span:last-of-type {
  margin-bottom: 0;
}

/* line 60, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-active {
  width: 600px !important;
  -webkit-box-shadow: 4px 9px 13px 0 #00000028;
          box-shadow: 4px 9px 13px 0 #00000028;
  border-color: #ffffff;
  background-color: #45b8ac;
  -webkit-transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out, background-color 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
}

/* line 67, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-active .swiper-slide-content {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition-delay: 0.35s;
       -o-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

/* line 74, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-title {
  padding-bottom: 16px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: -0.7px;
  color: #ffffff;
}

/* line 83, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-desc {
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.56;
  color: #ffffff;
}

/* line 90, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-circle {
  overflow: hidden;
  position: relative;
  width: 56px;
  height: 56px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: solid 2px #ffffff;
}

/* line 98, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-circle img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 109, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 114, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-user > div:nth-of-type(1) {
  width: 72px;
}

/* line 117, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-user > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 72px);
  max-width: calc(100% - 72px);
}

/* line 121, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-user > div:nth-of-type(2) p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.39;
  color: #ffffff;
}

/* line 128, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-slide-user > div:nth-of-type(2) span {
  font-size: 16px;
  line-height: 1.56;
  color: #ffffff;
}

/* line 138, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 143, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-pagination-bullet {
  opacity: 1;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  margin-top: 6px;
  background-color: #44a399;
}

/* line 151, src/scss/_shared/_swiper.scss */
.swiper-container-think .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.9px;
  text-align: center;
  color: #4a4a4a;
  text-transform: uppercase;
}

/* line 12, src/scss/_macros/_title.scss */
.c-title--color {
  color: #45b8ac;
  font-weight: bold;
}

/* line 24, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 296px;
  height: 48px;
  border: 1px solid #44b4a8;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 1.1px;
}

/* line 42, src/scss/_macros/_btn.scss */
.c-btn--border {
  background-color: transparent;
  color: black;
}

/* line 47, src/scss/_macros/_btn.scss */
.c-btn--bg {
  background-color: #44b4a8;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 51, src/scss/_macros/_btn.scss */
.c-btn--bg:hover {
  background-color: transparent;
  color: #44b4a8;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  min-height: 172px;
  background-color: #e91d63;
}

/* line 7, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_components/_footer.scss */
.footer__wrapper-0 {
  padding-top: 43px;
  padding-bottom: 15px;
}

/* line 15, src/scss/_components/_footer.scss */
.footer__wrapper-0 .footer__wrapper-left,
.footer__wrapper-0 .footer__wrapper-right {
  width: 50%;
}

/* line 20, src/scss/_components/_footer.scss */
.footer__wrapper-0 .footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 26, src/scss/_components/_footer.scss */
.footer__wrapper-1 {
  padding-top: 15px;
  padding-bottom: 36px;
}

/* line 3, src/scss/_components/home/_flexible.scss */
.flexible {
  overflow: hidden;
  background-color: #44b4a8;
}

/* line 8, src/scss/_components/home/_flexible.scss */
.flexible__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

/* line 12, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-left, .flexible__wrapper-right {
  min-height: 100%;
}

/* line 17, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
}

/* line 24, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right {
  position: relative;
  width: 100%;
  max-width: -webkit-calc(100% - 500px);
  max-width: calc(100% - 500px);
}

/* line 29, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right > div {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* line 38, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right > div:nth-of-type(1) {
  left: 0;
  width: 60%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 44, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right > div:nth-of-type(1) img {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
}

/* line 48, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right > div:nth-of-type(2) {
  right: 0;
  width: 60%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* line 55, src/scss/_components/home/_flexible.scss */
.flexible__wrapper-right > div img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 64, src/scss/_components/home/_flexible.scss */
.flexible__title {
  padding-bottom: 21px;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: -1.1px;
  color: #000;
}

/* line 72, src/scss/_components/home/_flexible.scss */
.flexible__title span {
  font-weight: bold;
}

/* line 77, src/scss/_components/home/_flexible.scss */
.flexible__desc {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  color: #000000;
}

/* line 4, src/scss/_components/home/_info.scss */
.info__wrapper {
  border-bottom: solid 1px #979797;
}

/* line 7, src/scss/_components/home/_info.scss */
.info__wrapper-0 {
  padding-top: 97px;
  padding-bottom: 71px;
}

/* line 11, src/scss/_components/home/_info.scss */
.info__wrapper-1 {
  padding-top: 116px;
  padding-bottom: 94px;
}

/* line 15, src/scss/_components/home/_info.scss */
.info__wrapper-2 {
  padding-top: 38px;
  padding-bottom: 87px;
}

/* line 21, src/scss/_components/home/_info.scss */
.info__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 26, src/scss/_components/home/_info.scss */
.info__block-1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* line 31, src/scss/_components/home/_info.scss */
.info__block-left, .info__block-right {
  width: 50%;
}

/* line 35, src/scss/_components/home/_info.scss */
.info__block-left img, .info__block-right img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 43, src/scss/_components/home/_info.scss */
.info__title {
  padding-bottom: 18px;
  text-align: left;
}

/* line 48, src/scss/_components/home/_info.scss */
.info__desc {
  width: 100%;
  max-width: 536px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  color: #4a4a4a;
}

/* line 3, src/scss/_components/home/_advantages.scss */
.advantages {
  padding-top: 61px;
  padding-bottom: 60px;
}

/* line 7, src/scss/_components/home/_advantages.scss */
.advantages__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  max-width: -webkit-calc((100% - 30px) / 3);
  max-width: calc((100% - 30px) / 3);
  height: 140px;
  padding-bottom: 16px;
}

/* line 17, src/scss/_components/home/_advantages.scss */
.advantages__block-0 {
  background-color: #45b8ac;
}

/* line 20, src/scss/_components/home/_advantages.scss */
.advantages__block-1 {
  background-color: #26a69a;
}

/* line 23, src/scss/_components/home/_advantages.scss */
.advantages__block-2 {
  background-color: #009688;
}

/* line 27, src/scss/_components/home/_advantages.scss */
.advantages__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 32, src/scss/_components/home/_advantages.scss */
.advantages__block-count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7px;
  font-size: 64px;
  font-weight: 300;
  line-height: 0.75;
  letter-spacing: -1.4px;
  color: #ffffff;
}

/* line 42, src/scss/_components/home/_advantages.scss */
.advantages__block-count span {
  line-height: 0.75;
}

/* line 47, src/scss/_components/home/_advantages.scss */
.advantages__block-desc {
  padding-top: 7px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: -0.5px;
  text-align: center;
  color: #ffffff;
}

/* line 3, src/scss/_components/home/_pre.scss */
.pre {
  padding-top: 101px;
  padding-bottom: 62px;
  background-color: #f8f8f8;
}

/* line 8, src/scss/_components/home/_pre.scss */
.pre__title {
  padding-bottom: 20px;
}

/* line 12, src/scss/_components/home/_pre.scss */
.pre__desc {
  width: 100%;
  max-width: 536px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 31px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.45;
  text-align: center;
  color: #4a4a4a;
}

/* line 25, src/scss/_components/home/_pre.scss */
.pre__btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
}

/* line 31, src/scss/_components/home/_pre.scss */
.pre__info {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: normal;
  color: #5e5e5e;
  text-align: center;
}

/* line 38, src/scss/_components/home/_pre.scss */
.pre__info span {
  font-weight: 500;
}

/* line 3, src/scss/_components/home/_think.scss */
.think {
  padding-top: 76px;
  padding-bottom: 48px;
  background-color: #45b8ac;
}

/* line 8, src/scss/_components/home/_think.scss */
.think .c-grid-fluid {
  padding-left: 0;
  padding-right: 0;
}

/* line 13, src/scss/_components/home/_think.scss */
.think__title {
  padding-bottom: 40px;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.18;
  letter-spacing: -0.7px;
  text-align: center;
  color: #ffffff;
}

/* line 22, src/scss/_components/home/_think.scss */
.think__title span {
  font-weight: bold;
}

/*# sourceMappingURL=maps/app.css.map */
