// SECTION advantages :: START

.advantages {
  padding-top: 61px;
  padding-bottom: 61px;
  @include adaptive(767) {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .c-grid {
    @include adaptive(767) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: calc((100% - 30px) / 3);
    height: 140px;
    padding-bottom: 16px;
    @include adaptive(767) {
      max-width: 100%;
    }

    &-0 {
      background-color: #45b8ac;
    }
    &-1 {
      background-color: #26a69a;
    }
    &-2 {
      background-color: #009688;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      @include adaptive(767) {
        flex-wrap: wrap;
      }
    }

    &-count {
      display: flex;
      align-items: center;
      padding-bottom: 7px;
      font-size: 64px;
      font-weight: 300;
      line-height: 0.75;
      letter-spacing: -1.4px;
      color: #ffffff;
      @include adaptive(991) {
        font-size: 52px;
      }
      @include adaptive(767) {
        font-size: 64px;
      }

      span {
        line-height: 0.75;
      }
    }

    &-desc {
      padding-top: 7px;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.33;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
    }
  }
}

// SECTION advantages :: END