// SECTION think :: START

.think {
  padding-top: 76px;
  padding-bottom: 38px;
  background-color: #45b8ac;

  .c-grid-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &__title {
    padding-bottom: 40px;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.18;
    letter-spacing: -0.7px;
    text-align: center;
    color: #ffffff;
    @include adaptive(767) {
      padding-left: 15px;
      padding-right: 15px;
    }

    span {
      font-weight: bold;
    }
  }
}

// SECTION think :: END