// HEADER :: START

header#header.header
  .header__bg
  .c-grid
    .header__wrapper
      .header__wrapper-left

        +logoWithBG('header')

        +hamburger()

      .header__wrapper-mobile(mobile-block-js)

        .header__wrapper-middle

          +nav('header', [{href:'/', name:'Home'},{href:'do.html', name:'What we do'},{href:'are.html',name:'Who we are'}])

        .header__wrapper-right
          a.header__btn.header__btn-pre(href="#" class="" title="")!= "pre-register"
          a.header__btn.header__btn-login(href="#" class="" title="")!= "Log in"

// HEADER :: END