---
title: Associates

pageClassName: p-home
---
extends shared/_layout

block content
  div.body(class != pageClassName)

    include components/home/_flexible
    include components/home/_info
    include components/home/_advantages
    include components/home/_pre
    include components/home/_think