---
title: Associates | Points rankings

pageClassName: p-points
---
extends shared/_layout

block content
  div.body.body--start(class != pageClassName)

    include components/points/_main
    include components/points/_calculate
    include components/points/_benefits
