// SECTION rankings :: START

section#rankings.rankings
  .rankings__wrapper.rankings__wrapper-0
    .c-grid

      include _rankings-box

  .rankings__wrapper.rankings__wrapper-1
    .c-grid

      include _rankings-table

// SECTION rankings :: END