// SECTION work :: START

.work {
  padding-top: 48px;
  padding-bottom: 109px;
  @include adaptive(767) {
    padding-bottom: 70px;
  }

  &__wrapper {
    &-0 {
      padding-bottom: 137px;
      @include adaptive(767) {
        padding-bottom: 65px;
      }
    }
    &-1 {
      padding-bottom: 148px;
      @include adaptive(767) {
        padding-bottom: 70px;
      }
    }
  }
  
  &__title {
    &-0 {
      padding-bottom: 66px;
      color: #4a4a4a;
    }

    &-1 {
      padding-bottom: 18px;
      text-align: left;
    }
  }

  &__row {
    &-0 {
      display: flex;
      justify-content: space-between;
      padding-bottom: 48px;
      @include adaptive(991) {
        flex-wrap: wrap;
      }

      .work__row-left {
        width: 380px;
        @include adaptive(991) {
          width: 100%;
          padding-bottom: 20px;
        }
      }

      .work__row-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: calc((100% - 20px) - 380px);
        @include adaptive(991) {
          max-width: 100%;
        }
      }
    }

    &-1 {
      display: flex;
      justify-content: space-between;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      .are__block {
        width: 100%;
        max-width: calc((100% - 20px) / 2);
        margin-bottom: 0;
        @include adaptive(767) {
          max-width: 100%;

          &:nth-of-type(1) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &-2 {
      display: flex;
      @include adaptive(767) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }

      .work__row-left,
      .work__row-right {
        width: 50%;
        @include adaptive(767) {
          width: 100%;
        }

        .are__block {
          width: 100%;
          max-width: 480px;
        }
      }

      .work__row-left {
        .work__title {
          @include adaptive(767) {
            display: none;
          }
        }
      }

      .work__row-right {
        padding-left: 15px;
        @include adaptive(767) {
          padding-left: 0;
        }

        .work__title {
          display: none;
          @include adaptive(767) {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }

  &__desc {
    width: 100%;
    max-width: 480px;
    padding-bottom: 91px;
    font-weight: 300;
    line-height: 1.45;
    color: #4a4a4a;
    @include fluid(font-size, 320px, 1440px, 16px, 22px);
    @include adaptive(767) {
      padding-bottom: 45px;
    }
  }

  &__img {
    position: relative;
    background-color: rgba(#000, 0.1);

    &-0 {
      height: 384px;
      @include adaptive(767) {
        height: 255px;
        width: calc(100% + 30px);
        margin-bottom: 30px;
        margin-left: -15px;
      }

      &:after {
        content: '';
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #00000000, #00000023 30%, #00000042 50%, #00000085 70%, #000000cc 90%, #000000e1 96%, #000000);
      }
    }

    &-1 {
      height: 612px;
      @include adaptive(767) {
        height: 412px;
        width: calc(100% + 30px);
        margin-left: -15px;
      }
      @include adaptive(575) {
        height: 193px;
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__box {
    padding: 22px 20px 41px;
    height: 100%;
    @include adaptive(575) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }

    &-1,
    &-2 {
      height: calc((100% - 20px) / 2);
      @include adaptive(991) {
        height: auto;
      }
    }

    &-0 {
      background-color: #484848;
    }
    &-1 {
      background-color: #5e5e5e;
      @include adaptive(991) {
        margin-bottom: 20px;
      }
    }
    &-2 {
      background-color: #989898;
    }

    &-title {
      padding-bottom: 20px;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.25;
      letter-spacing: -0.7px;
      color: #ffffff;
    }

    > div {
      display: flex;
      @include adaptive(767) {
        flex-wrap: wrap;
      }

      ul {
        width: 100%;
        max-width: calc(100% / 2);
        @include adaptive(767) {
          max-width: 100%;
        }
      }
    }

    ul {
      padding-left: 28px;

      li {
        line-height: 2.18;
        color: #ffffff;
        @include fluid(font-size, 320px, 1440px, 16px, 22px);
      }
    }
  }
}

// SECTION work :: END