// SECTION community :: START

.community {
  background-color: #f8f8f8;

  &__wrapper {
    display: flex;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 155px;
    min-height: 717px;
    @include adaptive(767) {
      flex-wrap: wrap;
      min-height: 0;
      padding-top: 50px;
      padding-bottom: 75px;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(767) {
        width: 100%;
      }
    }

    &-left {
      position: relative;
      top: -13px;
      @include adaptive(767) {
        left: 0;
        padding-bottom: 30px;
      }
    }

    &-right {
      padding-left: 8px;
      @include adaptive(767) {
        padding-left: 0;
      }
    }
  }

  &__title {
    padding-bottom: 18px;
    text-align: left;
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__desc {
    padding-bottom: 43px;
    width: 100%;
    max-width: 563px;
    font-weight: 300;
    line-height: 1.45;
    color: #4a4a4a;
    @include fluid(font-size, 320px, 1440px, 16px, 22px);
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__btn {
    margin-bottom: 17px;
    @include adaptive(767) {
      max-width: 100%;
    }
  }

  &__info {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: normal;
    color: #5e5e5e;
    @include adaptive(767) {
      text-align: center;
    }

    span {
      font-weight: 500;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 369px;
    min-height: 466px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 5px 4px 0 #0000003f;

    &-top,
    &-bottom {
      display: flex;
      flex-direction: column;
    }

    &-top {
      height: 349px;
      padding: 25px 15px 15px;
      background-color: #333333;
      @include adaptive(767) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    &-bottom {
      justify-content: center;
      min-height: calc(466px - 349px);
      padding: 6px 10px 10px;
    }

    &-img {
      overflow: hidden;
      position: relative;
      width: 182px;
      height: 182px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 100%;
      border: 6px solid #fff;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &-title {
      padding-bottom: 38px;
      font-size: 32px;
      font-weight: 300;
      line-height: 1.25;
      letter-spacing: -0.9px;
      text-align: center;
      color: #ffffff;
    }

    &-name {
      font-size: 32px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -0.7px;
      text-align: center;
      color: #4a4a4a;
    }

    &-pos {
      font-size: 22px;
      font-weight: 300;
      line-height: 1.45;
      text-align: center;
      color: #4a4a4a;
    }
  }
}

// SECTION community :: END