.icon-benefits-1 {
  width:(42)*1px;
  height:(48)*1px;
}
.icon-benefits-2 {
  width:(64)*1px;
  height:(41)*1px;
}
.icon-benefits-3 {
  width:(76)*1px;
  height:(67)*1px;
}
.icon-benefits-4 {
  width:(52)*1px;
  height:(62)*1px;
}
.icon-benefits-5 {
  width:(65)*1px;
  height:(29)*1px;
}
.icon-benefits-6 {
  width:(51)*1px;
  height:(50)*1px;
}
